*{
    text-align: center;
    justify-content: center;
    align-items: center;
}
body{
    width: 480px;
    height: 767px;
    margin:auto 30%;
}

@media all and (min-width:960px){
    body{
        width: 768px;
        height: 960px;
        margin:0;
    }
 } 