@media (max-width:767px){
    body{
        width: 480px;
        text-align: center;
        height: 1055px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 800;
    }
    main{
        width: 480px;
        height: 750px;
    }
}

@media  (min-width:768px) {
    body{
        width: 960px;
        height: 700px;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 800;
        line-height: 100px;
    }
    #main{
        width: 760px;
        height: 450px;
        float: right;
    }
}