@media (max-width:767px){
    #a{
        width: 480px;
        height: 75px;
        vertical-align: middle;
    }
    #b{
        width: 480px;
        height: 150px;
    }
    #cd{
        width: 480px;
        height: 250px;
    }
    #ef{
        width: 480px;
        height: 250px;    
    }
    #gh{
        width: 480px;
        height: 250px;    
    }
    footer{
        width: 480px;
        height: 80px;
    }
    }
    
    @media  (min-width:768px) {
        #a{
            width: 960px;
            height: 100px;
        }
        #b{
            width: 200px;
            height: 600px;
            float: left;
            line-height: 500px;
        }
        #c,#d{
            width: 304px;
            height: 160px;
            float: left;
            line-height: 200px;
        }
        #ef{
            width: 380px;
            height: 250px;  
            float: left; 
            line-height: 250px; 
        }
        #gh{
            width: 380px;
            height: 250px;  
            float: right; 
            line-height: 250px; 
        }
        footer{
            width: 760px;
            height: 150px;
            clear: right;
            padding-left: 200px;
            line-height: 150px;
        }
        
    } 