header{
    width: 480px;
    height: 75px;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 480px;
    height: 75px;
    background-color: rgb(172, 147, 144);
    display: flex;
}
article{
    width: 480px;
    height: 150px;
    background-color:thistle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-class{
    width: 480px;
    height: 125px;
    display: flex;

}
#navId :first-child{
    background-color: rgb(141, 60, 60);
}
#navId :nth-child(2){
    background-color: rgb(184, 28, 28);
}

#all{
    width: 480px;
    height: 497px;
    display:inline-block;
    
}
#e{
    width: 240px;
    height: 250px;
    float: left;
    background-color: wheat;
    display: flex;
}

#f{
    width: 240px;
    height: 250px;
    float: right;
    background-color:turquoise;
    display: flex;
}
#g{
    width: 240px;
    height: 250px;
    float: left;
    background-color:teal;
    display: flex;
}
#h{
    width: 240px;
    height: 250px;
    float: right;
    background-color:tomato;
    display: flex;
}
@media all and (min-width:90px){
    header{
        width: 960px;
        height: 100px;
        background-color: rgb(156, 144, 143);
        
    }
    footer{
        width: 760px;
        height: 150px;
        background-color:rgb(145, 97, 35);
        
    }
    article{
        width: 200px;
        height: 600px;
        background-color:rgb(94, 80, 94);
        float: left;
        
        
    }
    #navId{
        
        width: 760px;
        height: 200px;
    }
    .first-class{
        width: 370px;
        height: 200px;
        display: flex;
    }
    #navId :first-child{
        
        background-color: rgb(187, 127, 127);
    }
    #navId :nth-child(2){
        background-color: rgb(199, 48, 48);
        float: right;
       
    }
    
    #all{
        width: 760px;
        height: 250px;
        float: right;
    }
    #e{
        width: 190px;
        height: 250px;
        float: left;
        background-color: rgb(88, 72, 41);
        display: flex;
    }
    
    #f{
        width: 190px;
        height: 250px;
        float: right;
        background-color:rgb(240, 56, 194);
        display: flex;
    }
    #g{
        width: 190px;
        height: 250px;
        float: left;
        background-color:rgb(124, 97, 150);
        display: flex;
    }
    #h{
        width: 190px;
        height: 250px;
        float: right;
        background-color:rgb(18, 133, 85);
        display: flex;
    }
 } 