@media (max-width:767px){
    #c,#d{
        width: 480px;
        height: 125px;
    }
    #e{
        width: 240px;
        height: 250px;
        float: left;
    }
    #f{
        width: 240px;
        height: 250px;
        float: right;
    }
    #g{
        width: 240px;
        height: 250px;
        float: left;    
    }
    #h{
        width: 240px;
        height: 250px;
        float: right;    
    }
}

@media  (min-width:768px) {
    #c,#d{
        width: 380px;
        height: 200px;
    }
    #c{
        float: left;
    }
    #d{
        float: right;
    }
    #e,#f,#h,#g{
        width: 190px;
        height: 250px;
    }
    #e{
        float: left;
    }
    #f{
        float: right;
    }
    #g{
        float: left;
    }
    #h{
        float: right;
    }
} 